<p>navbar works!</p>
<nav class="navbar navbar-inverse  fixed-top custom-nav ">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>

    <ul class="nav navbar-nav d-flex flex-row">
      <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#about" class="nav-link">about</a></li>
      <li class="nav-item" ><a href="#expirance" class="nav-link">expirance</a></li>
      <li class="nav-item" ><a href="#skill" class="nav-link">skill</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right d-flex flex-row ms-auto">
      <li class="nav-item"><a href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="nav-item"><a href="#" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>