/* You can add global styles to this file, and also import other style files */
/* Google Font */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{

--primary:#2563eb;
--secondary:#7c3aed;
--background:#ffffff;
--surface:#f5f5f5;
--text:#222;
--card:#ffffff;
--shadow:0 8px 25px rgba(0,0,0,.08);
--transition:.4s;
}

.dark{
--background:#0f172a;
--surface:#1e293b;
--text:#ffffff;
--card:#1e293b;
--shadow:0 10px 30px rgba(0,0,0,.45);
}

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:var(--background);
color:var(--text);
transition:var(--transition);
overflow-x:hidden;
}
